:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-image: url("../../../static/images/alfons-morales-410757-unsplash-min.jpg");
  background-size: cover;
}

:host h1 {
  font-size: 3rem;
}

#home-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  display: inherit;
  align-items: inherit;
  flex-direction: inherit;
  position: relative;
  bottom: 10%;
  padding: 2%;
  border-radius: 30px;
}
