.App {
  text-align: center;
  padding: 10px;
  margin-top: 20%;
}
#hs-input {
  width: 80%;
  max-width: 800px;
  height: 25px;
  padding: 12px 20px;
  margin: 8px 0;
  border: 0px;
  border-radius: 50px;
  background-color:rgb(241, 241, 241);
  font-size: 16pt;
}
