h1.ui.header {
  font-size: 3rem;
}

#searchbar-wrapper {
  display: inline-block;
  position: relative;
  top: 35%;
  left: 30%;
}

#main-title {
  text-align: center;
}

#searchbar {
  width: 584px;
  height: auto;
}
